@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #fff;
}

* {
  font-family: "Inter", "Sans-Seriff";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: aliceblue;
  min-height: 100vh;
}

#container-main {
  min-height: 100vh;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#start-screen-inner {
  text-align: center;
}

#start-screen-inner > * {
  margin-block: 0.2em;
}

#start-screen-inner-heading {
  font-size: 2rem;
}

#start-screen-inner-btn {
  margin-top: 0.5em;
}

#start-screen-inner-btn {
  background-color: var(--color-primary);
  padding: 0.6em 1em;
  border-radius: 0.2rem;
  font-weight: 600;
}
